
.title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    border: var(--primaryBorder);
    border-radius: var(--primaryBorder-radius);
    height: auto;
    width: 90%;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    color: var(--fontColor);
    letter-spacing: 1px;

}

.title h1{
    position: relative;
    letter-spacing: 1px;
    font-size: 5vw;
    max-width: 90%;
    overflow: visible;
}

main {
    position: relative;
    width: 90%;
    min-height: 800px;
    left: 50%;
    transform: translateX(-50%);
    border: var(--primaryBorder);
    border-radius: var(--primaryBorder-radius);
    justify-content: space-between;
    display: flex;
    margin: 20px 0;
    color: black;
    
  }

.image-container{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 30px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 1);
    border-radius: 10px;
}  
.image{
    width: 90%;
    height: auto;
    filter: blur(15px);
    transform: scale(1.2);
    
    padding: 20px;
}

.image-inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 80px 0 80px rgba(0, 0, 0, 0.1);
}

.description{
    width: 50%;
    position: relative;
    margin: 20px;
    padding: 100px;
}

.description h2{
    font-size: 80px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;

}
.mobil{
    display: none;
}
.description h3{
    font-size: 50px;
    margin-top: 50px;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.description p{
    font-size: 30px;
    padding: 10px;
    background-color: azure;
    border-radius: 10px;
    
}

@media screen and (max-width: 600px){
    main{
        flex-direction: column;
    
    }
    .description{
        width: 90%;
        margin: auto;
        padding: 20px;
    }
    .description h2{
        font-size: 60px;
        background-color: rgba(0, 0, 0, 0.1);
        text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }
    .mobil{
        display: block;
    }
    .desktop{
        display: none;
    }
    .description h3{
       
        font-size: 20px;
        margin-top: 50px;
        text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
        padding: 10px;text-align: center;
        
    }
    
    .description p{
        font-size: 20px;
        padding: 10px;
        
    }




    
}