.title{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  border: var(--primaryBorder);
  border-radius: var(--primaryBorder-radius);
  height: auto;
  width: 90%;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  color: var(--fontColor);
  letter-spacing: 1px;

}

.title h1{
  position: relative;
  letter-spacing: 1px;
  font-size: 5vw;
  max-width: 90%;
  overflow: visible;
}


main {
  position: relative;
  width: 90%;
  min-height: 800px;
  left: 50%;
  transform: translateX(-50%);
  border: var(--primaryBorder);
  border-radius: var(--primaryBorder-radius);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.upper-section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  

}

.message-form{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  
}
.message-form input{
  font-size: 20px;
}
.message-form textarea{
  height: 100px;
}
.message-form button{
  display: block;
  margin: 2px auto;
  background: var(--primaryColor);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  color: var(--fontColor);
  border: none;
  padding: 8px 20px;
  outline: none;
  border-radius: var(--primaryBorder-radius);
  width: 70px;
  font-size: var(--aTextFont-size);
  
}
.description{
  width: 40%;
  padding: 30px;
}
.map{
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-top: 30px;
  height: 400px;

}

.map iframe{
  width:100%;
  height: 100%;
  
}

@media screen and (max-width: 600px){
  .description{
      width: 90%;
    }
    .upper-section{
      display: block;
      width: 90%;
      margin-top: 30px;
  }
  .message-form{
      width: 90%;
  }
}