/* ----------------------------Main Section Start */
main {
  position: relative;
  width: 100%;
  min-height: 800px;
  border-radius: var(--primaryBorder-radius);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0 40px;
}

.slider-content {
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  border: var(--primaryBorder);
  border-radius: var(--primaryBorder-radius);
  position: relative;
}

.slider-content .item {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all ease 0.8s;
}

.slider-content .item img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.slider-content .item:hover {
  width: 200%;
}
.slider-content .item .banner-text {
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 50px;
  padding: 50px 50px 30px;
  color: #bfb8b8;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: all ease-in-out 0.8s;
}
.item:hover .banner-text {
  bottom: 0;
  opacity: 1;
}

.slider-content .item .banner-text h3 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.slider-content .item .banner-text h5 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.item a {
  background: var(--primaryColor);
  padding: 10px;
  font-size: 16px;
  color: var(--fontColor);
  font-weight: bolder;
  border-radius: 10px;
}
/* Slider Section Finish--------------------- */
.title {
  background-image: url("/assets/image/mobil-title.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: auto;
  width: 90%;
  margin-top: 20px;
  border: var(--primaryBorder);
  border-radius: var(--primaryBorder-radius);
  padding-top: 250px;
  align-items: center;
}
.title h1 {
  position: relative;
  color: var(--fontColor);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  border: var(--primaryBorder);
  border-radius: var(--primaryBorder-radius);
  letter-spacing: 1px;
  font-size: 6vw;
  max-width: 90%;
  overflow: visible;
}

.title a {
  color: var(--fontColor);
  background: var(--primaryColor);
  padding: 2vh 5vw;
  text-decoration: none;
  text-wrap: nowrap;
  border: var(--primaryBorder);
  border-radius: var(--primaryBorder-radius);
  margin-top: 10px;
  display: inline-block;
  font-size: 4vw;
  max-width: 40vw;
  text-align: center;
}
/* --------------------- Product Section Start*/

.movies-container,
.fuatured-container {
  width: 100%;
  margin: 30px 0;
  position: relative;
}

.movies-container h2,
.fuatured-container h2 {
  margin-bottom: 15px;
  color: black;
  margin-left: 25px;
  filter: brightness(2);
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 30px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--primaryBorder-radius);
  padding: 20px;
  position: relative;
}
.card:hover {
  transition: 300ms all;
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: var(--primaryBorder-radius);
}

.card-button {
  display: block;
  margin: 2px auto;
  background: var(--primaryColor);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  color: var(--fontColor);
  border: none;
  padding: 8px 20px;
  outline: none;
  border-radius: var(--primaryBorder-radius);
  width: 70px;
  font-size: var(--aTextFont-size);
}

.popular {
  color: #ff0000;
  font-size: 24px;
  position: absolute;
  top: -10px;
  right: -5px;
}

/* --------------------- Product Section Start*/
@media screen and (max-width: 600px){
 .slider-content{
    display: none}

    .title{
      display: flex;
  
    }
  
    .card{
      width: 90%;
      margin: 15px 0;
    }
    .cards{
      justify-content: center;
  }
  }